body {
  background: #0b0f19;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

input, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
}

video {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.hidden {
  display: none;
}
